#gameLog {
    max-height: 220px;
    overflow: auto;
    overflow-anchor: none;
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;

    /* anchor nodes are required to have non-zero area */
    height: 1px;
}

#characterStats {
    min-width: 90px;
}