
.venta-detalles .tab-pane {
    overflow: auto;
    height: 500px;
    padding-top: 20px;
}

.venta-detalles table {
    width: 100%;
}

.venta-detalles td, .venta-detalles th {
    padding: 3px 20px 3px 0;
}

.venta-detalles tr:nth-child(even) {
    background: #EEE;
}

.venta-detalles thead tr {
    background: #e3e3e3;
}
